/**
 * Vertical center object
 *
 * 1) We are vertically centering elements with display: table method
 *     by default and...
 * 2) ...overwrite it to use flexbox whenever available. Technically this
 *     will apply to most browsers, but we need a fallback for IE9.
 */

.o_v-center {
  display: table; /* [1] */
  height: 100%;
   width: 100%;

  .flexbox & { /* [2] */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}

  .o_v-center__me { /* [1] */
    display: table-cell;
    vertical-align: middle;

    .flexbox & { /* [2] */
      display: initial;
    }
  }
