body {
  font-family: $lato-font-family;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  font-weight: 300;
  margin: 0 0 map-get($my-spacing, medium);
}

h1 { @include flex-font(64); }
h2 { @include flex-font(45); }
h3 { @include flex-font(32); }
h4 { @include flex-font(23); }
h5 { @include flex-font(16); }
h6 { @include flex-font(14); }
