---
pageable: true
per_page: 50
description: Front-end developer. Good with Vue, React & React Native.
---

= partial "nav"

.o_spacer.o_spacer--large
  .container
    .row
      .twelve.columns
        %h1
          \0/ moments like this
    .row
      .ten.columns.centered
        %p
          moments like this don’t come around too often

        %p
          the world is far from perfect, further than perfect than many a day in many ways, and yet everything right now, in this moment, feels just right

        %p
          i don’t know all the reasons. i can’t weigh the seasons

        %p
          but i know that right now i’m at peace. i’m at ease. i’m at rest

        %p
          and i’m thankful

        %p
          not thankful that life turned out the way i hoped it would. not thankful that i’ve got everything i’ve ever dreamt. not thankful because i’ve attained all the successes i’d ever hoped

        %p
          in many ways, i didn’t plan for my life to go this way

        %p
          but despite the path veering off from my ever so wise predisposed best, i find myself here, in the bush, i find myself with blessings surround, i find myself here, now

        %p
          here. alive. taking it all in, on this beautiful day, whilst the world is in crisis. and despite it all, thankful for this little part of my existence, this little part of humanity, a pinprick on the canvas, but a part of the masterpiece, nonetheless
