@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}






@mixin o_spacer($variant: null) {
    padding-top: map-get($my-spacing, medium);
  padding-bottom: map-get($my-spacing, medium);

  @media #{$medium-up} {
       padding-top: map-get($my-spacing, large);
    padding-bottom: map-get($my-spacing, large);
  }

  @if ($variant == large) {
       padding-top: map-get($my-spacing, large);
    padding-bottom: map-get($my-spacing, large);

    @media #{$medium-up} {
         padding-top: map-get($my-spacing, xx-large);
      padding-bottom: map-get($my-spacing, xx-large);
    }
  }
}






@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}






@mixin bg-cover($variant: null) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @if ($variant == fixed) {
    background-attachment: fixed;
  }
}







/**
 * Undercover List mixin
 *
 * 1) Should be applied to a <ul> or <ol> element
 */

@mixin undercover-list {
  list-style-type: none;
  margin-left: 0; margin-bottom: 0;

  & > li {
    padding:0;
  }
}







/**
 * Last child mixin
 *
 * Enables us to access all the last children, to three levels. Useful to
 *  make sure elements inside elements are selected, like a button inside a
 *  form.
 *
 * Primarily used to remove the space at the bottom of an element.
 *
 * Usage:
 * =============================================================================
 * @include last-child {
 *   margin-bottom: 0;
 * }
 * =============================================================================
 *
 * Originally grabbed form CSS Tricks:
 *  https://css-tricks.com/spacing-the-bottom-of-modules/
 */

@mixin last-child {
  & > *:last-child,
  & > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child {
    @content
  }
}
