<nav class="c_main-nav">
  <a href="/" class="c_main-nav__item c_main-nav__item--logo">FR</a>
  <div class="c_main-nav__right">
    <a href="/work" class="c_main-nav__item c_main-nav__item--available">available</a>
    <a href="https://twitter.com/FredRivett" rel="nofollow" target="_blank" class="c_main-nav__item">@fredrivett</a>
  </div>
</nav>
