.o_v-center
  .o_v-center__me.o_text-center
    %h1 Fred Rivett
    %h4 Front End Developer. Maker of things. 1/2 @wecontrast.

    %ul.o_horizontal-list.o_horizontal-list--spacious.c_social-list
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Tweets
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Words
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Songs
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Codes
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Years
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Shots
      %li
        %a.c_social-list__link
          %img.c_social-list__icon{src: ""}
          .c_social-list__text
            Videos
