---
pageable: true
per_page: 50
---

= partial "nav"

.o_spacer.o_spacer--large
  .container
    .row
      .twelve.columns
        %h1
          \/work
    .row
      .ten.columns.centered
        %p
          Front-end developer.
        %p
          Specialise in converting designs into systemised, manageable CSS and refactoring codebases out of a mess. Good with React &amp; Vue.
        %p
          Passionate about building products that make peoples lives better,&nbsp;
          %a{href: "https://www.producthunt.com/@fredrivett/made", rel: "nofollow", target: "_blank"}> launched many side projects
          ,
          %a{href: "https://learningtolaunch.co/", rel: "nofollow", target: "_blank"} wrote a short book about it
          &amp;&nbsp;
          %a{href: "https://twitter.com/FredRivett/status/849189123458035714", rel: "nofollow", target: "_blank"}> accidentally beat Google in April Fools Day 2017
          \.
        %p
          Lead front-end for&nbsp;
          %a{href: "https://www.thepeoplesoperator.com/", rel: "nofollow", target: "_blank"}> The People's Operator
          ,
          working directly with Wikipedia founder Jimmy Wales creating a social good mobile phone provider.
        %p
          Tech lead at&nbsp;
          %a{href: "https://foundersfactory.com", rel: "nofollow", target: "_blank"}> Founders Factory
          ,
          working on
          %a{href: "https://thedot.news", rel: "nofollow", target: "_blank"} The Dot
          alongside&nbsp;
          %a{href: "https://thedot.news", rel: "nofollow", target: "_blank"}> The Guardian
          \.
        %p
          Some of the other clients I've worked with include:&nbsp;
          %a{href: "https://tabl.com/", rel: "nofollow", target: "_blank"}> Tabl
          ,
          %a{href: "https://www.spoke.law/", rel: "nofollow", target: "_blank"} Spoke
          &amp;&nbsp;
          %a{href: "https://www.buildupp.com/", rel: "nofollow", target: "_blank"}> Buildupp
          \.

        %p
          %strong>
            I currently have some availability, if you have an interesting opportunity&nbsp;
            %a{href: "mailto:fred@fredrivett.com?subject=Work%20together%3F"}> reach out and say hi
          \.
        %hr
        %p
          %ul.o_bordered-list
            %li
              %a{href: 'https://twitter.com/fredrivett', rel: "nofollow", target: "_blank"} Twitter
            %li
              %a{href: 'https://www.linkedin.com/in/fredrivett/', rel: "nofollow", target: "_blank"} LinkedIn
            %li
              %a{href: 'https://www.producthunt.com/@fredrivett/', rel: "nofollow", target: "_blank"} Product Hunt
            %li
              %a{href: 'https://medium.com/@fredrivett', rel: "nofollow", target: "_blank"} Medium
