---
pageable: true
per_page: 50
description: Front-end developer. Good with Vue, React & React Native.
---

= partial "nav"

.o_spacer.o_spacer--large
  .container
    .row
      .twelve.columns
        %h1
          \/work
    .row
      .ten.columns.centered
        %p
          Senior Product Developer based in London, UK.
        %p
          Experienced team lead, React/React Native, Vue, TypeScript &amp; UI development. Often found refactoring codebases out of a mess.
        %p Eye for design and with solid product development skills, passionate about building products that make peoples lives better.
        %p
          %a{href: "https://www.producthunt.com/@fredrivett/made", rel: "nofollow", target: "_blank"}>Launched many side projects
          ,
          %a{href: "https://learningtolaunch.co/", rel: "nofollow", target: "_blank"} wrote a short book about it
          &amp;&nbsp;
          %a{href: "https://twitter.com/FredRivett/status/849189123458035714", rel: "nofollow", target: "_blank"}> accidentally won April Fools Day 2017 (beating Google in the process)
          \.
        %p
          Previously Senior Software Engineer at&nbsp;
          %a{href: "https://octopuswealth.com", rel: "nofollow", target: "_blank"}> Octopus Wealth
          \.
        %p
          Lead front-end for&nbsp;
          %a{href: "https://www.thepeoplesoperator.com/", rel: "nofollow", target: "_blank"}> The People's Operator
          ,
          working directly alongside Wikipedia founder Jimmy Wales.
        %p
          Tech Lead at&nbsp;
          %a{href: "https://foundersfactory.com", rel: "nofollow", target: "_blank"}> Founders Factory
          ,
          co-creating
          %a{href: "https://twitter.com/fredrivett/status/1055330442612760576", rel: "nofollow", target: "_blank"} The Dot
          alongside&nbsp;
          %a{href: "https://www.theguardian.com/uk", rel: "nofollow", target: "_blank"}> The Guardian
          \.
        %p
          Some of the other clients worked with include:&nbsp;
          %a{href: "https://tabl.com/", rel: "nofollow", target: "_blank"}> Tabl
          ,
          %a{href: "https://www.spoke.law/", rel: "nofollow", target: "_blank"} Spoke
          &amp;&nbsp;
          %a{href: "https://www.buildupp.com/", rel: "nofollow", target: "_blank"}> Buildupp
          \.

        %p
          %strong>
            Minimal availability, but if you have an interesting opportunity feel free to&nbsp;
            %a{href: "mailto:fred@fredrivett.com?subject=Work%20together%3F"}> reach out and say hi
          \.
        %hr
        %p
          %ul.o_bordered-list
            %li
              %a{href: 'https://twitter.com/fredrivett', rel: "nofollow", target: "_blank"} Twitter
            %li
              %a{href: 'https://www.linkedin.com/in/fredrivett/', rel: "nofollow", target: "_blank"} LinkedIn
            %li
              %a{href: 'https://www.producthunt.com/@fredrivett/', rel: "nofollow", target: "_blank"} Product Hunt
            %li
              %a{href: 'https://medium.com/@fredrivett', rel: "nofollow", target: "_blank"} Medium
