---
pageable: true
per_page: 50
---

= partial "nav"

.o_spacer.o_spacer--large
  .container
    .row
      .twelve.columns
        %h1
          \/work
          %a.u_small{href: "https://twitter.com/FredRivett", rel: "nofollow", target: "_blank"} @fredrivett
    .row
      .ten.columns.centered
        %p
          Front end developer.
        %p
          Specialise in converting designs into sane, scalable CSS and refactoring codebases out of a mess.
        %p
          Passionate about startups,&nbsp;
          %a{href: "https://www.producthunt.com/@fredrivett/made", rel: "nofollow", target: "_blank"}> launched many side projects
          ,
          %a{href: "https://learningtolaunch.co/", rel: "nofollow", target: "_blank"} wrote a short book about it
          &amp;&nbsp;
          %a{href: "https://twitter.com/FredRivett/status/849189123458035714", rel: "nofollow", target: "_blank"}> accidentally beat Google in April Fools Day 2017
          \.
        %p
          Some of the clients I've worked with include:
          %br
          %a{href: "https://store.tpo.com/", rel: "nofollow", target: "_blank"}> The People's Operator
          ,&nbsp;
          %a{href: "https://tabl.com/", rel: "nofollow", target: "_blank"}> Tabl
          ,
          %a{href: "https://www.spoke.law/", rel: "nofollow", target: "_blank"} Spoke
          &amp;&nbsp;
          %a{href: "https://www.buildupp.com/", rel: "nofollow", target: "_blank"}> Buildupp
          \.

        %p
          %strong>
            I currently have some availability,&nbsp;
            %a{href: "mailto:fred@fredrivett.com?subject=Work%20together%3F"}> feel free to reach out and say hi
          \.
